<div _ngcontent-c1="" class="curating_block d-block">
            <div _ngcontent-c1="" class="row">
                <h3 _ngcontent-c1=""><a _ngcontent-c1="" href="/banner-more/BANNER_05">追劇追不完</a></h3>
            </div>
            <div _ngcontent-c1="" class="row item_lists series">
                <!----><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class=""></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0011.png') %> alt="我的婆婆怎麼那麼可愛">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">我的婆婆怎麼那麼可愛</p>
                            <p _ngcontent-c1="" class="item_episode">更新至第 30 集</p>
                        </div>
                    </a>
                </div><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class=""></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0012.png') %> alt="住左邊住右邊">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">住左邊住右邊</p>
                            <p _ngcontent-c1="" class="item_episode">全 36 集</p>
                        </div>
                    </a>
                </div><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class=""></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0013.png') %> alt="苦力">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">苦力</p>
                            <p _ngcontent-c1="" class="item_episode">全 30 集</p>
                        </div>
                    </a>
                </div><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class=""></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0014.png') %> alt="噬罪者">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">噬罪者</p>
                            <p _ngcontent-c1="" class="item_episode">全 13 集</p>
                        </div>
                    </a>
                </div><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class=""></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0015.png') %> alt="糖糖Online">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">糖糖Online</p>
                            <p _ngcontent-c1="" class="item_episode">全 13 集</p>
                        </div>
                    </a>
                </div><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class=""></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0016.png') %> alt="我們與惡的距離">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">我們與惡的距離</p>
                            <p _ngcontent-c1="" class="item_episode">全 10 集</p>
                        </div>
                    </a>
                </div><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class=""></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0017.png') %> alt="你的孩子不是你的孩子">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">你的孩子不是你的孩子</p>
                            <p _ngcontent-c1="" class="item_episode">全 5 集</p>
                        </div>
                    </a>
                </div><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class="item_tvod_tag"></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0018.png') %> alt="魂囚西門">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">魂囚西門</p>
                            <p _ngcontent-c1="" class="item_episode">全 6 集</p>
                        </div>
                    </a>
                </div><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class=""></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0019.png') %> alt="憤怒的菩薩">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">憤怒的菩薩</p>
                            <p _ngcontent-c1="" class="item_episode">全 4 集</p>
                        </div>
                    </a>
                </div><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class=""></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0020.png') %> alt="麻醉風暴2">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">麻醉風暴2</p>
                            <p _ngcontent-c1="" class="item_episode">全 13 集</p>
                        </div>
                    </a>
                </div>
            </div>
            <div _ngcontent-c1="" class="row">
                <a _ngcontent-c1="" class="see_more disabled_href">看更多&gt;&gt;</a>
            </div>
        </div>