<div _ngcontent-c1="" class="curating_block d-block">
            <div _ngcontent-c1="" class="row">
                <h3 _ngcontent-c1=""><a _ngcontent-c1="" href="/banner-more/BANNER_04">限時賞味</a></h3>
            </div>
            <div _ngcontent-c1="" class="row item_lists series">
                <!----><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class=""></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0001.png') %> alt="甜心兔">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">甜心兔</p>
                            <p _ngcontent-c1="" class="item_episode">更新至第 174 集</p>
                        </div>
                    </a>
                </div><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class=""></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0002.png') %> alt="東離劍遊紀">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">東離劍遊紀</p>
                            <p _ngcontent-c1="" class="item_episode">更新至第 2 集</p>
                        </div>
                    </a>
                </div><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class=""></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0003.png') %> alt="水果冰淇淋2020">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">水果冰淇淋2020</p>
                            <p _ngcontent-c1="" class="item_episode">更新至第 2310 集</p>
                        </div>
                    </a>
                </div><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class=""></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0004.png') %>> alt="我的雲朵朋友呼呼">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">我的雲朵朋友呼呼</p>
                            <p _ngcontent-c1="" class="item_episode">更新至第 52 集</p>
                        </div>
                    </a>
                </div><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class=""></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0005.png') %> alt="小貓熊之家">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">小貓熊之家</p>
                            <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                        </div>
                    </a>
                </div><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class=""></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0006.png') %> alt="波比貓 第二季">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">波比貓 第二季</p>
                            <p _ngcontent-c1="" class="item_episode">更新至第 46 集</p>
                        </div>
                    </a>
                </div><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class=""></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0007.png') %> alt="世界村說故事">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">世界村說故事</p>
                            <p _ngcontent-c1="" class="item_episode">全 27 集</p>
                        </div>
                    </a>
                </div><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class=""></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0021.png') %> alt="孤狼的抉擇">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">孤狼的抉擇</p>
                            <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                        </div>
                    </a>
                </div><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class=""></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0008.png') %> alt="少年亞瑟王">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">少年亞瑟王</p>
                            <p _ngcontent-c1="" class="item_episode">更新至第 4 集</p>
                        </div>
                    </a>
                </div><div _ngcontent-c1="">
                    <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                        <div _ngcontent-c1="" class="img_hover_effect">
                            <span _ngcontent-c1="" class=""></span>
                            <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0009.png') %> alt="南美洲好滋味">
                        </div>
                        <div _ngcontent-c1="" class="item_info">
                            <p _ngcontent-c1="" class="item_name">南美洲好滋味</p>
                            <p _ngcontent-c1="" class="item_episode">全 2 集</p>
                        </div>
                    </a>
                </div>
            </div>
            <div _ngcontent-c1="" class="row">
                <a _ngcontent-c1="" class="see_more disabled_href">看更多&gt;&gt;</a>
            </div>
        </div>