<div _ngcontent-c1="" class="curating_block d-block">
                <div _ngcontent-c1="" class="row">
                    <h3 _ngcontent-c1=""><a _ngcontent-c1="" href="/banner-more/BANNER_08">藝文/紀錄</a></h3>
                </div>
                <div _ngcontent-c1="" class="row item_lists series">
                    <!----><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class=""></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0021.png') %> alt="孤狼的抉擇">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">孤狼的抉擇</p>
                                <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                            </div>
                        </a>
                    </div><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class=""></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0041.png') %> alt="來自臺灣—美國巡演行前音樂會">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">來自臺灣—美國巡演行前音樂會</p>
                                <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                            </div>
                        </a>
                    </div><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class=""></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0042.png') %> alt="強權下的反恐戰爭State of Terrorism">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">強權下的反恐戰爭State of Terrorism</p>
                                <p _ngcontent-c1="" class="item_episode">全 2 集</p>
                            </div>
                        </a>
                    </div><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class=""></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0043.png') %> alt="公視+一起聽音樂 : NSO 沙發音樂廳">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">公視+一起聽音樂 : NSO 沙發音樂廳</p>
                                <p _ngcontent-c1="" class="item_episode">全 3 集</p>
                            </div>
                        </a>
                    </div><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class=""></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0009.png') %> alt="南美洲好滋味">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">南美洲好滋味</p>
                                <p _ngcontent-c1="" class="item_episode">全 2 集</p>
                            </div>
                        </a>
                    </div><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class=""></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0044.png') %> alt="消失的北極熊">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">消失的北極熊</p>
                                <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                            </div>
                        </a>
                    </div><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class=""></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0045.png') %> alt="釧兒">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">釧兒</p>
                                <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                            </div>
                        </a>
                    </div><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class=""></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0046.png') %> alt="俄羅斯海洋列傳">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">俄羅斯海洋列傳</p>
                                <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                            </div>
                        </a>
                    </div><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class=""></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0005.png') %> alt="小貓熊之家">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">小貓熊之家</p>
                                <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                            </div>
                        </a>
                    </div><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class="item_tvod_tag"></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0047.png') %> alt="當雞蛋槓上高牆">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">當雞蛋槓上高牆</p>
                                <p _ngcontent-c1="" class="item_episode">全 6 集</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div _ngcontent-c1="" class="row">
                    <a _ngcontent-c1="" class="see_more disabled_href">看更多&gt;&gt;</a>
                </div>
            </div>