<div _ngcontent-c1="" class="curating_block d-block">
    <div _ngcontent-c1="" class="row">
        <h3 _ngcontent-c1=""><a _ngcontent-c1="" href="/banner-more/BANNER_06">兒少/生活</a></h3>
    </div>
    <div _ngcontent-c1="" class="row item_lists series">
        <!---->
        <div _ngcontent-c1="">
            <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                <div _ngcontent-c1="" class="img_hover_effect">
                    <span _ngcontent-c1="" class=""></span>
                    <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0022.png') %> alt="少年亞瑟王">
                </div>
                <div _ngcontent-c1="" class="item_info">
                    <p _ngcontent-c1="" class="item_name">少年亞瑟王</p>
                    <p _ngcontent-c1="" class="item_episode">更新至第 4 集</p>
                </div>
            </a>
        </div>
        <div _ngcontent-c1="">
            <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                <div _ngcontent-c1="" class="img_hover_effect">
                    <span _ngcontent-c1="" class=""></span>
                    <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0023.png') %> alt="小安的勇氣">
                </div>
                <div _ngcontent-c1="" class="item_info">
                    <p _ngcontent-c1="" class="item_name">小安的勇氣</p>
                    <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                </div>
            </a>
        </div>
        <div _ngcontent-c1="">
            <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                <div _ngcontent-c1="" class="img_hover_effect">
                    <span _ngcontent-c1="" class=""></span>
                    <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0024.png') %> alt="航向自由">
                </div>
                <div _ngcontent-c1="" class="item_info">
                    <p _ngcontent-c1="" class="item_name">航向自由</p>
                    <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                </div>
            </a>
        </div>
        <div _ngcontent-c1="">
            <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                <div _ngcontent-c1="" class="img_hover_effect">
                    <span _ngcontent-c1="" class=""></span>
                    <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0010.png') %> alt="動物大明星">
                </div>
                <div _ngcontent-c1="" class="item_info">
                    <p _ngcontent-c1="" class="item_name">動物大明星</p>
                    <p _ngcontent-c1="" class="item_episode">更新至第 26 集</p>
                </div>
            </a>
        </div>
        <div _ngcontent-c1="">
            <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                <div _ngcontent-c1="" class="img_hover_effect">
                    <span _ngcontent-c1="" class=""></span>
                    <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0025.png') %> alt="我家的秘密客">
                </div>
                <div _ngcontent-c1="" class="item_info">
                    <p _ngcontent-c1="" class="item_name">我家的秘密客</p>
                    <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                </div>
            </a>
        </div>
        <div _ngcontent-c1="">
            <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                <div _ngcontent-c1="" class="img_hover_effect">
                    <span _ngcontent-c1="" class=""></span>
                    <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0026.png') %> alt="空襲來臨時">
                </div>
                <div _ngcontent-c1="" class="item_info">
                    <p _ngcontent-c1="" class="item_name">空襲來臨時</p>
                    <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                </div>
            </a>
        </div>
        <div _ngcontent-c1="">
            <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                <div _ngcontent-c1="" class="img_hover_effect">
                    <span _ngcontent-c1="" class=""></span>
                    <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0027.png') %> alt="高牆下的孩子">
                </div>
                <div _ngcontent-c1="" class="item_info">
                    <p _ngcontent-c1="" class="item_name">高牆下的孩子</p>
                    <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                </div>
            </a>
        </div>
        <div _ngcontent-c1="">
            <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                <div _ngcontent-c1="" class="img_hover_effect">
                    <span _ngcontent-c1="" class=""></span>
                    <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0028.png') %> alt="家人在哪裡？">
                </div>
                <div _ngcontent-c1="" class="item_info">
                    <p _ngcontent-c1="" class="item_name">家人在哪裡？</p>
                    <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                </div>
            </a>
        </div>
        <div _ngcontent-c1="">
            <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                <div _ngcontent-c1="" class="img_hover_effect">
                    <span _ngcontent-c1="" class=""></span>
                    <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0029.png') %> alt="菜鳥兵的抉擇">
                </div>
                <div _ngcontent-c1="" class="item_info">
                    <p _ngcontent-c1="" class="item_name">菜鳥兵的抉擇</p>
                    <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                </div>
            </a>
        </div>
        <div _ngcontent-c1="">
            <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                <div _ngcontent-c1="" class="img_hover_effect">
                    <span _ngcontent-c1="" class=""></span>
                    <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0030.png') %> alt="我不會忘記你">
                </div>
                <div _ngcontent-c1="" class="item_info">
                    <p _ngcontent-c1="" class="item_name">我不會忘記你</p>
                    <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                </div>
            </a>
        </div>
    </div>
    <div _ngcontent-c1="" class="row">
        <a _ngcontent-c1="" class="see_more disabled_href">看更多&gt;&gt;</a>
    </div>
</div>
