<div _ngcontent-c1="" class="curating_block d-block">
                <div _ngcontent-c1="" class="row">
                    <h3 _ngcontent-c1=""><a _ngcontent-c1="" href="/banner-more/BANNER_07">追劇30分</a></h3>
                </div>
                <div _ngcontent-c1="" class="row item_lists series">
                    <!----><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class=""></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0032.png') %> alt="前世情人的情人">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">前世情人的情人</p>
                                <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                            </div>
                        </a>
                    </div><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class=""></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0033.png') %> alt="燒肉粽2019">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">燒肉粽2019</p>
                                <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                            </div>
                        </a>
                    </div><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class=""></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0034.png') %> alt="阿嬤的秘密">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">阿嬤的秘密</p>
                                <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                            </div>
                        </a>
                    </div><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class=""></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0035.png') %> alt="隨片登台">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">隨片登台</p>
                                <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                            </div>
                        </a>
                    </div><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class=""></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0036.png') %> alt="年尾巴">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">年尾巴</p>
                                <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                            </div>
                        </a>
                    </div><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class=""></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0037.png') %> alt="編劇頭很痛">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">編劇頭很痛</p>
                                <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                            </div>
                        </a>
                    </div><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class=""></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0038.png') %> alt="第一鮪">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">第一鮪</p>
                                <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                            </div>
                        </a>
                    </div><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class=""></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0039.png') %> alt="大吉">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">大吉</p>
                                <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                            </div>
                        </a>
                    </div><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class=""></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0040.png') %> alt="潘朵拉">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">潘朵拉</p>
                                <p _ngcontent-c1="" class="item_episode">全 1 集</p>
                            </div>
                        </a>
                    </div><div _ngcontent-c1="">
                        <a _ngcontent-c1="" appseasonlink="" href="javascript:void(0)">
                            <div _ngcontent-c1="" class="img_hover_effect">
                                <span _ngcontent-c1="" class=""></span>
                                <img _ngcontent-c1="" src=<%- url_for('/image/ctn/0049.png') %> alt="紅色">
                            </div>
                            <div _ngcontent-c1="" class="item_info">
                                <p _ngcontent-c1="" class="item_name">紅色</p>
                                <p _ngcontent-c1="" class="item_episode">更新至第 2 集</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div _ngcontent-c1="" class="row">
                    <a _ngcontent-c1="" class="see_more disabled_href">看更多&gt;&gt;</a>
                </div>
            </div>