<div _ngcontent-c5="" class="carousel slide carousel-fade" data-ride="carousel" id="pts_carsusel">
    <ol _ngcontent-c5="" class="carousel-indicators">
        <!---->
        <li _ngcontent-c5="" data-target="#pts_carsusel" class="active" data-slide-to="0">
        </li>
        <li _ngcontent-c5="" data-target="#pts_carsusel" data-slide-to="1" class="">
        </li>
        <li _ngcontent-c5="" data-target="#pts_carsusel" data-slide-to="2">
        </li>
        <li _ngcontent-c5="" data-target="#pts_carsusel" data-slide-to="3">
        </li>
        <li _ngcontent-c5="" data-target="#pts_carsusel" data-slide-to="4">
        </li>

    </ol>
    <div _ngcontent-c5="" class="carousel-inner">
        <!---->
        <div _ngcontent-c1="" class="carousel-item active">

            <!---->
            <!----><a _ngcontent-c1="" href=<%- url_for('/小洋_season.html') %>>
                <div _ngcontent-c1="" class="carousel_image_crop">
                    <img _ngcontent-c1="" class="d-block w-100" src=<%- url_for('/image/banner/banner_04.jpg') %> alt="小洋">
                </div>
                <div _ngcontent-c1="" class="carousel-caption">
                    <div _ngcontent-c1="">
                        <h5 _ngcontent-c1="">小洋</h5>

                        <p _ngcontent-c1="">【觀看期限至9/20】每個小孩都期盼著自己能有一個快樂的童年，希望和父母一起共享天倫之樂，但是對於育幼院裡的小孩來說，卻是連回家都是一個奢侈的願望。短片《小洋》就描述了在育幼院裡小孩的寂寞與期待，主角小洋每天都期盼著爸爸能接他回家，買東西時小洋也忍下購買的慾望，為了可以多見爸爸幾次面，只是淡淡地說了一句:沒關係，下次再來。小洋和他爸爸之間有一種微妙的關係存在，表面看似親情之間的穴脈相連，但是背後也有許多的猶豫與無奈。</p>
                    </div>
                </div>
            </a>

            <a _ngcontent-c1="">
                <!---->
                <div _ngcontent-c1="" class="carousel-caption">
                    <div _ngcontent-c1="">
                        <h5 _ngcontent-c1="">小洋</h5>

                        <p _ngcontent-c1="">【觀看期限至9/20】每個小孩都期盼著自己能有一個快樂的童年，希望和父母一起共享天倫之樂，但是對於育幼院裡的小孩來說，卻是連回家都是一個奢侈的願望。短片《小洋》就描述了在育幼院裡小孩的寂寞與期待，主角小洋每天都期盼著爸爸能接他回家，買東西時小洋也忍下購買的慾望，為了可以多見爸爸幾次面，只是淡淡地說了一句:沒關係，下次再來。小洋和他爸爸之間有一種微妙的關係存在，表面看似親情之間的穴脈相連，但是背後也有許多的猶豫與無奈。</p>
                    </div>
                </div>
            </a>


            <!---->
            <!---->
        </div>
        <div _ngcontent-c1="" class="carousel-item">

            <!---->
            <!----><a _ngcontent-c1="" href=<%- url_for('/住戶公約第一條_season.html') %>>
                <div _ngcontent-c1="" class="carousel_image_crop">
                    <img _ngcontent-c1="" class="d-block w-100" src=<%- url_for('/image/banner/banner_00.jpg') %> alt="住戶公約第一條">
                </div>
                <div _ngcontent-c1="" class="carousel-caption">
                    <div _ngcontent-c1="">
                        <h5 _ngcontent-c1="">住戶公約第一條</h5>

                        <p _ngcontent-c1="">【上架日期：9/19 00:30】【觀看期限至9/26】禁養寵物的公寓裡，房東兒子小洋無視母親的警告，私自與酒女房客的女兒晴晴來往。兩個9歲孩子共守著一個祕密，他們偷偷摸摸扛了整幫貓砂上樓。小洋以為晴晴偷養了小貓，但公寓開始瀰漫一股異味，晴晴想藏起來的並不是貓咪。<br><br>入圍<br>▲第55屆電視金鐘獎<br>電視電影獎<br>迷你劇集（電視電影）女配角獎-謝欣穎<br>迷你劇集（電視電影）最具潛力新人獎-白小櫻<br>戲劇類節目攝影獎-馬華【馮信華】</p>
                    </div>
                </div>
            </a>

            <a _ngcontent-c1="">
                <!---->
                <div _ngcontent-c1="" class="carousel-caption">
                    <div _ngcontent-c1="">
                        <h5 _ngcontent-c1="">住戶公約第一條</h5>

                        <p _ngcontent-c1="">【上架日期：9/19 00:30】【觀看期限至9/26】禁養寵物的公寓裡，房東兒子小洋無視母親的警告，私自與酒女房客的女兒晴晴來往。兩個9歲孩子共守著一個祕密，他們偷偷摸摸扛了整幫貓砂上樓。小洋以為晴晴偷養了小貓，但公寓開始瀰漫一股異味，晴晴想藏起來的並不是貓咪。<br><br>入圍<br>▲第55屆電視金鐘獎<br>電視電影獎<br>迷你劇集（電視電影）女配角獎-謝欣穎<br>迷你劇集（電視電影）最具潛力新人獎-白小櫻<br>戲劇類節目攝影獎-馬華【馮信華】</p>
                    </div>
                </div>
            </a>


            <!---->
            <!---->
        </div>
        <div _ngcontent-c5="" class="carousel-item">

            <!---->
            <!----><a _ngcontent-c5="" href=<%- url_for('/NSO沙發音樂廳_season.html') %>>
                <div _ngcontent-c5="" class="carousel_image_crop">
                    <img _ngcontent-c5="" class="d-block w-100" src=<%- url_for('/image/banner/banner_02.jpg') %> alt="公視+一起聽音樂 : NSO 沙發音樂廳">
                </div>
                <div _ngcontent-c5="" class="carousel-caption">
                    <div _ngcontent-c5="">
                        <h5 _ngcontent-c5="">公視+一起聽音樂 : NSO 沙發音樂廳</h5>

                        <p _ngcontent-c5="">【4K精彩呈現】【觀看期限至2024/5/31】今年因應新型冠狀病毒肺炎（COVID-19）疫情嚴重影響表演藝術團隊之演出營收，為維持演出量能，讓樂迷能在線上收看，NSO與國家兩廳院、公共電視台三方聯手，由音樂總監呂紹嘉領軍指揮，共同製播以4K超高畫質全球直播的線上音樂會。NSO安排了適當編制與多元動聽的樂曲與大家共享，希望音樂成為撫慰人心的溫暖陪伴。<br><br>▌管絃織音 <br>▌嬉遊夏夜 <br>▌完全貝多芬<br><br>指揮/呂紹嘉 Shao-Chia Lü, conductor<br>國家交響樂團National Symphony Orchestra<br>指揮／呂紹嘉 <br>演出／國家交響樂團 <br></p>
                    </div>
                </div>
            </a>

            <a _ngcontent-c5="">
                <!---->
                <div _ngcontent-c5="" class="carousel-caption">
                    <div _ngcontent-c5="">
                        <h5 _ngcontent-c5="">公視+一起聽音樂 : NSO 沙發音樂廳</h5>

                        <p _ngcontent-c5="">【4K精彩呈現】【觀看期限至2024/5/31】今年因應新型冠狀病毒肺炎（COVID-19）疫情嚴重影響表演藝術團隊之演出營收，為維持演出量能，讓樂迷能在線上收看，NSO與國家兩廳院、公共電視台三方聯手，由音樂總監呂紹嘉領軍指揮，共同製播以4K超高畫質全球直播的線上音樂會。NSO安排了適當編制與多元動聽的樂曲與大家共享，希望音樂成為撫慰人心的溫暖陪伴。<br><br>▌管絃織音 <br>▌嬉遊夏夜 <br>▌完全貝多芬<br><br>指揮/呂紹嘉 Shao-Chia Lü, conductor<br>國家交響樂團National Symphony Orchestra<br>指揮／呂紹嘉 <br>演出／國家交響樂團 <br></p>
                    </div>
                </div>
            </a>


            <!---->
            <!---->
        </div>
        <div _ngcontent-c5="" class="carousel-item">

            <!---->
            <!----><a _ngcontent-c5="" href=<%- url_for('/釧兒_season.html') %>>
                <div _ngcontent-c5="" class="carousel_image_crop">
                    <img _ngcontent-c5="" class="d-block w-100" src=<%- url_for('/image/banner/banner_03.jpg') %> alt="釧兒">
                </div>
                <div _ngcontent-c5="" class="carousel-caption">
                    <div _ngcontent-c5="">
                        <h5 _ngcontent-c5="">釧兒</h5>

                        <p _ngcontent-c5="">【4K精彩呈現】【觀看期限至10/1】一個不敢搬演《薛平貴與王寶釧》的歌仔戲班，存在著一段大家都不願提及的過往……喪失記憶的團長兒子阿強，只知道歌仔戲讓全家人不快樂；一位年輕女子釧兒，卻每日等在戲台下，期待「身騎白馬」的曲調能再次響起……<br>Reed Unbroken is a story about a Taiwanese Opera troupe which is struggles to survive and a beautiful romance. A-Qiang, the only son of a leading Taiwanese Opera troupe, lost all memory of his love of Taiwanese opera in a tragic accident. Chuan, a mysterious and beautiful woman, stays always at his side, trying to help him recover his memories and his caring for the troupe by watching their favorite opera scene-XUE Ping-gui &amp; WANG Bao-chuan, which is forbidden to perform for many years since the tragic accident.<br></p>
                    </div>
                </div>
            </a>

            <a _ngcontent-c5="">
                <!---->
                <div _ngcontent-c5="" class="carousel-caption">
                    <div _ngcontent-c5="">
                        <h5 _ngcontent-c5="">釧兒</h5>

                        <p _ngcontent-c5="">【4K精彩呈現】【觀看期限至10/1】一個不敢搬演《薛平貴與王寶釧》的歌仔戲班，存在著一段大家都不願提及的過往……喪失記憶的團長兒子阿強，只知道歌仔戲讓全家人不快樂；一位年輕女子釧兒，卻每日等在戲台下，期待「身騎白馬」的曲調能再次響起……<br>Reed Unbroken is a story about a Taiwanese Opera troupe which is struggles to survive and a beautiful romance. A-Qiang, the only son of a leading Taiwanese Opera troupe, lost all memory of his love of Taiwanese opera in a tragic accident. Chuan, a mysterious and beautiful woman, stays always at his side, trying to help him recover his memories and his caring for the troupe by watching their favorite opera scene-XUE Ping-gui &amp; WANG Bao-chuan, which is forbidden to perform for many years since the tragic accident.<br></p>
                    </div>
                </div>
            </a>


            <!---->
            <!---->
        </div>
        <div _ngcontent-c5="" class="carousel-item">

            <!---->
            <!----><a _ngcontent-c5="" href=<%- url_for('/乘客_season.html') %>>
                <div _ngcontent-c5="" class="carousel_image_crop">
                    <!--
                    <img _ngcontent-c5="" class="d-block w-100" src="https://prod-material.ptsplus.tv/banner/831c0b2d-3679-4101-a41f-64e8f33679eb/artworks/key_visual/web/WebListPage_台語台_banner_1920_final.jpg" alt="台語頻道攏佇遮">
                    -->
                    <img _ngcontent-c5="" class="d-block w-100" src="https://via.placeholder.com/1920x613" alt="乘客">
                </div>
                <div _ngcontent-c5="" class="carousel-caption">
                    <div _ngcontent-c5="">
                        <!--
                        <h5 _ngcontent-c5="">台語頻道攏佇遮</h5>

                        <p _ngcontent-c5="">台語頻道包含各類型節目,不但可以追劇,還有紀錄片和綜藝節目,像是益智節目#全家有智慧,小朋友最愛的#水果冰淇淋,培養藝術氣息的#畫我台灣,非常適合全家一同收看唷!</p>
                        -->
                        <h5 _ngcontent-c5="">乘客</h5>
                        <p _ngcontent-c5="">【觀看期限至1984/4/4】又一個早上那人沒有原諒昨天。在月台上，他和他的身體站得很遠。眼前的車門睜開或閉上，看見他，看見卻沒有帶走他。一切都好只是每天都走的那條路，竟又忘記他了。</p>
                    </div>
                </div>
            </a>

            <a _ngcontent-c5="">
                <!---->
                <div _ngcontent-c5="" class="carousel-caption">
                    <div _ngcontent-c5="">
                        <!--
                        <h5 _ngcontent-c5="">台語頻道攏佇遮</h5>

                        <p _ngcontent-c5="">台語頻道包含各類型節目,不但可以追劇,還有紀錄片和綜藝節目,像是益智節目#全家有智慧,小朋友最愛的#水果冰淇淋,培養藝術氣息的#畫我台灣,非常適合全家一同收看唷!</p>
                        -->
                        <h5 _ngcontent-c5="">乘客</h5>
                        <p _ngcontent-c5="">【觀看期限至1984/4/4】又一個早上那人沒有原諒昨天。在月台上，他和他的身體站得很遠。眼前的車門睜開或閉上，看見他，看見卻沒有帶走他。一切都好只是每天都走的那條路，竟又忘記他了。</p>
                    </div>
                </div>
            </a>


            <!---->
            <!---->
        </div>
    </div>
    <a _ngcontent-c5="" class="carousel-control-prev" data-slide="prev" href="#pts_carsusel" role="button">
        <span _ngcontent-c5="" aria-hidden="true" class="carousel-control-prev-icon"></span>
        <span _ngcontent-c5="" class="sr-only">Previous</span>
    </a>
    <a _ngcontent-c5="" class="carousel-control-next" data-slide="next" href="#pts_carsusel" role="button">
        <span _ngcontent-c5="" aria-hidden="true" class="carousel-control-next-icon"></span>
        <span _ngcontent-c5="" class="sr-only">Next</span>
    </a>
</div>
