<main _ngcontent-c5="" class="home_page">
    <%- partial('_partial/idx_carousel',null,{cache: !config.relative_link}) %>
    <div _ngcontent-c5="" class="container-fluid new_recommend">
        <div _ngcontent-c5="" class="row item_lists">
            <!---->
            <div _ngcontent-c5="">
                <a _ngcontent-c5="" appseasonlink="" href="javascript:void(0)">
                    <div _ngcontent-c5="" class="img_hover_effect">
                        <p _ngcontent-c5="" class="item_episode">全 1 集</p>
                        <span _ngcontent-c5="" class=""></span>
                        <img _ngcontent-c5="" src="https://prod-material.ptsplus.tv/series/2-2020441/artworks/posters/web/WebListPage_9.jpg" alt="資本主義的極限挑戰">
                    </div>
                    <div _ngcontent-c5="" class="item_info">
                        <p _ngcontent-c5="" class="item_name">資本主義的極限挑戰</p>

                        <p _ngcontent-c5="" class="item_description">【觀看期限至9/10】永無止境的成長是資本主義的信條：更大的市場、更多的產品、新增的服務。但是這些真的能夠永遠持續下去嗎？或是我們即將衝破它的極限？如果情況確實如此，那麼接下來會發生什麼事？<br><br>在美國、巴西、中國、德國與英國等地拍攝的《資本主義的極限挑戰》，訪問一些經濟成長擁護者，探討無止境的成長概念。其中包括巴西黃豆大亨、自動演算程式交易員、財金記者以及跨國高階主管。透過一鏡到底的拍攝模式，使受訪者暴露出前後矛盾、或是不一致的論點破綻。 （《資本主義的極限挑戰》片中也短暫訪問了財務專家安東尼．斯卡拉姆齊（Anthony Scaramucci），他也曾擔任川普的白宮通訊主任；他自稱為「資本主義藝術家」，並且闡述了關於成長極限的不可思議的論點。）<br><br>這部電影分為幾個章節，分別探討的主題包括國內生產總值（GDP）的不道德、有害農業、金融化、金融與現實世界經濟的脫鉤，以及自動化。各章的開頭都引用卡爾．馬克思（Karl Marx）的相關論述，並涵蓋了生態經濟學家和永續發展倡導者提姆．傑克遜（Tim Jackson）的精闢見解。他在片中擔任引言人角色，對一些複雜的觀念，提供清楚的解說。</p>
                    </div>
                </a>
            </div>
            <div _ngcontent-c5="">
                <a _ngcontent-c5="" appseasonlink="" href="javascript:void(0)">
                    <div _ngcontent-c5="" class="img_hover_effect">
                        <p _ngcontent-c5="" class="item_episode">全 1 集</p>
                        <span _ngcontent-c5="" class=""></span>
                        <img _ngcontent-c5="" src="https://prod-material.ptsplus.tv/series/2-2019382/artworks/posters/web/WebListPage_606.jpg" alt="未來學校">
                    </div>
                    <div _ngcontent-c5="" class="item_info">
                        <p _ngcontent-c5="" class="item_name">未來學校</p>

                        <p _ngcontent-c5="" class="item_description">【觀看期限至9/11】數位時代的「教」與「學」，展露出多樣化的面貌，要「翻轉」的不只是學生、老師與父母，可能還包括整個社會。「十年樹木，百年樹人」，教育一直都被視為通往未來的「百年大計」。然而，在「十倍速」的數位時代，要進行這樣長遠的規劃卻是個巨大挑戰。面對變動不居的未來，什麼才是教育的根本？</p>
                    </div>
                </a>
            </div>
            <div _ngcontent-c5="">
                <a _ngcontent-c5="" appseasonlink="" href="javascript:void(0)">
                    <div _ngcontent-c5="" class="img_hover_effect">
                        <p _ngcontent-c5="" class="item_episode">更新至第 44 集</p>
                        <span _ngcontent-c5="" class=""></span>
                        <img _ngcontent-c5="" src="https://prod-material.ptsplus.tv/series/4-2020342/artworks/posters/web/WebListPage_36題愛上你_節目頁圖.png" alt="36題愛上你">
                    </div>
                    <div _ngcontent-c5="" class="item_info">
                        <p _ngcontent-c5="" class="item_name">36題愛上你</p>

                        <p _ngcontent-c5="" class="item_description">【每周一~三 晚間21:00上架】在這個相互攻訐、彼此撕裂的年代，我們嘗試以促進瞭解的方式，讓我們坦承分享，希望在互相理解之後，一起找回愛的力量。<br>這是一檔實境談話節目，主持人化身出題者，量身打造出36道問題，在一個小時的時間內，受訪者要接受這36道題的提問，是坦誠？或是閃避？是掏心？或是抗拒？決定了受訪者，是否能被瞭解、被體諒、被愛上⋯⋯。<br>根據心理學家阿瑟·亞倫(Arthur Aron)的研究，兩個陌生人，以特別設計的36個問題互相詢問，可以讓親密關係昇溫，甚至可能愛上彼此。<br>同樣的原理、不同的邏輯，討厭的人，你會愛上他；喜歡的人，你會更瞭解他。現在，我們即將問出36道問題，之後～討厭的人，你會愛上他；喜歡的人，你會更瞭解他。【本節目由於版權限制，設有觀看期限，敬請把握觀看時間】</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <!---->
    <div _ngcontent-c5="" class="container curating">
        <div _ngcontent-c5="" class="row">
            <h3 _ngcontent-c5="">熱門推薦</h3>
        </div>
        <div _ngcontent-c5="" class="row curating_tabbar">
            <ul _ngcontent-c5="">
                <!---->
                <li _ngcontent-c5 v-on:click="ctn1=1" v-bind:class="[ctn1==1?ctnActiveClass:ctnDeactiveClass,ctnErrorClass]">
                    限時賞味
                </li>
                <li _ngcontent-c5 v-on:click="ctn1=2" v-bind:class="[ctn1==2?ctnActiveClass:ctnDeactiveClass,ctnErrorClass]">
                    追劇追不完
                </li>
            </ul>
        </div>
        <!---->
        <div v-if="ctn1==1">
            <%- partial('_partial/ctn1_1', null, {cache: !config.relative_link}) %>
        </div>
        <div v-if="ctn1==2"><%- partial('_partial/ctn1_2', null, {cache: !config.relative_link}) %>
        </div>

    </div>
    <!---->
    <div _ngcontent-c5="" class="container curating">
        <div _ngcontent-c5="" class="row">
            <h3 _ngcontent-c5="">精彩時刻</h3>
        </div>
        <div _ngcontent-c5="" class="row curating_tabbar">
            <ul _ngcontent-c5="">
                <!---->
                <li _ngcontent-c5 v-on:click="ctn2=1" v-bind:class="[ctn2==1?ctnActiveClass:ctnDeactiveClass,ctnErrorClass]">
                    兒少/生活
                </li>
                <li _ngcontent-c5 v-on:click="ctn2=2" v-bind:class="[ctn2==2?ctnActiveClass:ctnDeactiveClass,ctnErrorClass]">
                    追劇30分
                </li>
                <li _ngcontent-c5 v-on:click="ctn2=3" v-bind:class="[ctn2==3?ctnActiveClass:ctnDeactiveClass,ctnErrorClass]">
                    藝文/紀錄
                </li>
            </ul>
        </div>
        <!---->
        <div v-if="ctn2==1">
            <%- partial('_partial/ctn2_1', null, {cache: !config.relative_link}) %></div>
        <div v-if="ctn2==2">
            <%- partial('_partial/ctn2_2', null, {cache: !config.relative_link}) %></div>
        <div v-if="ctn2==3">
            <%- partial('_partial/ctn2_3', null, {cache: !config.relative_link}) %></div>
    </div>
    <!---->
    <div _ngcontent-c5="" class="container live_series live_now">
        <a _ngcontent-c5="">
            <div _ngcontent-c5="" class="row">
                <div _ngcontent-c5="" class="col-md-5">
                    <div _ngcontent-c5="" class="img_hover_effect">
                        <img _ngcontent-c5="" class="disabled_href" src=<%- url_for('/image/WebListPage_WebListPage_公視直播_直播列表Web.jpg') %> alt="公共電視 網路直播 PTS Live">
                    </div>
                </div>
                <div _ngcontent-c5="" class="col-md-7">
                    <span _ngcontent-c5="" class="item_label"></span>
                    <p _ngcontent-c5="" class="item_name">公共電視 網路直播 PTS Live</p>
                    <p _ngcontent-c5="" class="item_description">開始時間: 2018/07/30 00:00</p>
                    <p _ngcontent-c5="" class="item_description">公共電視因部分節目無網路播出權，直播時段將依授權狀況進行調整~若有造成您的不便也請多包涵！ 網路直播節目表 https://goo.gl/4B0P3R</p>
                    <p _ngcontent-c5="" class="text-right pt-md-3">
                        <button _ngcontent-c5="" class="btn btn-outline-primary disabled_href" type="button">立即前往</button>
                    </p>
                </div>
            </div>
        </a>
    </div>
    <br _ngcontent-c5="">
    <div _ngcontent-c5="" aria-hidden="true" aria-labelledby="popupModalLabel" class="modal fade" id="popupModalError" role="dialog" tabindex="-1">
        <div _ngcontent-c5="" class="modal-dialog" role="document">
            <div _ngcontent-c5="" class="modal-content">
                <div _ngcontent-c5="" class="modal-header">
                    <h5 _ngcontent-c5="" class="modal-title" id="popupModalLabel">警告</h5>

                </div>
                <div _ngcontent-c5="" class="modal-body">
                    <p _ngcontent-c5=""></p>
                </div>
                <div _ngcontent-c5="" class="modal-footer">
                    <button _ngcontent-c5="" class="btn btn-outline-primary" data-dismiss="modal" data-toggle="modal" type="button">關閉</button>

                </div>
            </div>
        </div>
    </div>
</main>
