<%- partial('_partial/head') %>

<body>
    <div id="app">
        <app-root _nghost-c0="" ng-version="5.2.11">
            <router-outlet _ngcontent-c0=""></router-outlet>
            <app-home _nghost-c5="">
                <%- partial('_wrapper/app_header',null,{cache: !config.relative_link}) %>
                <%- body %>
                <%- partial('_wrapper/app_footer',null,{cache: !config.relative_link}) %>
                <ngx-loading _ngcontent-c5="" _nghost-c4="">
                    <!---->
                    <!---->
                </ngx-loading>
            </app-home>
        </app-root>
    </div>
    <%- partial('_partial/vue', null, {cache: !config.relative_link}) %>
</body>

</html>
